            .w {
                margin-bottom: 15px;
                padding-left: 20px;
                border-left: 10px solid #c4c4c4;
                color: #350f7c;
            }
            
            .t {
                padding-left: 20px;
                color: rgb(121, 54, 15);
            }